---
// Frontmatter for the Astro component
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Stats from '../components/Stats.astro';
---

<Layout title="Home - InternHub">
  <main>
    <Hero />
    <Stats />
    <Features />
  </main>
</Layout>